body {
    background: khaki;
}

h1 {
    text-align: center;
    color: black;
}

.verde {
    color: green;
    background-color: gray;
}

.vermelho {
    color: red;
    background-color: gray;
    text-align: center;
}

.azul {
    color: blue;
    background-color: gray;
    text-align: right;
}

.roxo {
    color: purple;
    background-color: gray;
    text-align: center;
}

.amarelo {
    color: yellow;
    background-color: gray;
}

.rosa {
    color: deeppink;
    background-color: gray;
    text-align: center;
}

.branco {
    background: white;
}











