div.green {
    height: 250px;
    border-radius: 10px;
    background-color: green;
    display: inline-block;
    width: 15%;
    margin: 20px;

}

div.blue {
    background-color: blue;
    border-radius: 1000px;
    height: 250px;
    width: 250px;
    display: inline-block;
}

div.yellow {
    height: 250px;
    border-radius: 20px;
    background-color: yellow;
    display: inline-block;
    width: 250px;
    margin: 20px;
}

div.green2 {
    height: 200px;
    width: 50%;
    background-color: green;
    display: inline-block;
    border-radius: 40px;
}

body {
    text-align: center;
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
}

.green:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.blue:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.yellow:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.green2:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}